<html lang="en">
<head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Fashion Feet</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="row mb-2">
        <div >
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Update Stock</li>
          </ol>
        </div>
      </div>

    <!-- general form elements -->
    <div class="card card-primary ">
        <div class="card-header">
          <h3 class="card-title">Update Quantity of a product</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method = "post" action="/update">
          <div class="card-body">
            <div class="form-group">
              <label for="productId">Product ID :</label>
              <input type="number" class="form-control" id="productId" name="pid" placeholder="Enter Product ID">
            </div>

            <div class="form-group">
              <label for="stock">New Stock :</label>
              <input type="number" class="form-control" id="stock" name="stock" placeholder="Enter Quantity">
            </div>

          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button class="btn btn-primary" id="update"> Update</button>
          </div>
        </form>
      </div>
      <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
          <b>Version</b> 9.0.6
        </div>
        <strong>Copyright &copy; 2018-2021 <a href="#">Fashion Feet</a>.</strong> All rights
        reserved.
      </footer>
      <!-- /.card -->
</body>

</html>
